.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #393838;
  width: 30%;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 7%;
  margin: 10px 0;
}

.card * {
  margin-bottom: 0;
}
.card h3 {
  font-size: 1.8rem;
}

.repoicon {
  position: relative;
  top: 5px;
  margin-right: 8px;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}
