@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-family: "Andika New Basic", sans-serif;
  margin: 0 25px;
  overflow-x: hidden;
}

.error {
  color: red;
  text-align: center;
}
